@mixin button-style($color) {
    color: white;
    border-color: $color;
    
    &:hover,
    &:focus,
    &:active,
    &:active:hover,
    &:active:focus {
      color: darken(white, 25%);
      border-color: darken($color, 25%);
      background-color: rgb(80, 77, 77);
      color: white;
      font-size: large;
      text-decoration: none;
    }
  }